*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
	scroll-behavior: smooth;
}
.scroll {
	width: 60px;
	height: 60px;
	border: 2px solid #333;
	border-radius: 50%;
	position: relative;
	animation: down 1.5s infinite;
}
	.scroll::before {
		content: '';
		position: absolute;
		top: 15px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 2px solid #333;
  	border-bottom: 2px solid #333;
		transform: rotate(-45deg);
	}
@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

img{
  transition: all 1s ease;
  
}
img:hover {
  transform: scale(1.1);
  box-shadow: 3px 3px 5px #000;
}